### **API EDA process**:

- Objective: This workbook presents the process of interaction with the API and the integration with the main data (Credit Card Transactions).

So, we are looking to get population information from the API, full name of the State and country code and name. (This will not be a problem since the dataset represents the population of the United States).

---

#### **First Step**: Obtain the list of states present in our data

In [1]:
import requests
import pandas as pd
import sys
import os

# Add the 'src' folder to sys.path
sys.path.append(os.path.abspath(os.path.join('..', 'src')))

In [2]:
from connections.db import DB
db = DB()

# Fetch the data from the database as a dataframe
df = db.fetch_as_dataframe("SELECT * FROM raw_table;")

INFO:root:✔ Connected to database
INFO:root:✔ Data loaded into DataFrame
INFO:root:✔ Cursor closed
INFO:root:✔ Connection closed

In [3]:
df['state'].unique()

array(['NC', 'ID', 'VA', 'PA', 'TN', 'IA', 'WV', 'FL', 'NJ', 'OK', 'IN',
       'MA', 'TX', 'WI', 'MI', 'WY', 'HI', 'LA', 'DC', 'KY', 'NY', 'MS',
       'KS', 'AL', 'WA', 'AR', 'MD', 'GA', 'ME', 'CA', 'NE', 'MN', 'OH',
       'MO', 'SC', 'OR', 'IL', 'NH', 'CO', 'SD', 'MT', 'ND', 'CT', 'VT',
       'AZ', 'UT', 'NM', 'NV', 'RI'], dtype=object)

#### **Second Step**: Connect to the API to obtain the population of each State and perform the merge.

In [4]:
API_URL = "https://api-world-population-etl-project.onrender.com/api/v1/data/usa/states"

response = requests.get(API_URL)
df_api = pd.DataFrame(response.json())
df_api

,Country,Country_Code,State_Abbreviation,State_Name,State_Population
0,United States,USA,AL,Alabama,5024294
1,United States,USA,AK,Alaska,733374
2,United States,USA,AZ,Arizona,7157902
3,United States,USA,AR,Arkansas,3011490
4,United States,USA,CA,California,39538212
5,United States,USA,CO,Colorado,5773707
6,United States,USA,CT,Connecticut,3605912
7,United States,USA,DE,Delaware,989946
8,United States,USA,DC,District of Columbia,689548
9,United States,USA,FL,Florida,21538216
10,United States,USA,GA,Georgia,10713771
11,United States,USA,HI,Hawaii,1455274
12,United States,USA,ID,Idaho,1839117
13,United States,USA,IL,Illinois,12813469
14,United States,USA,IN,Indiana,6785442
15,United States,USA,IA,Iowa,3190427
16,United States,USA,KS,Kansas,2937835
17,United States,USA,KY,Kentucky,4506297
18,United States,USA,LA,Louisiana,4657785
19,United States,USA,ME,Maine,1363177
20,United States,USA,MD,Maryland,6177253
21,United States,USA,MA,Massachusetts,7032933
22,United States,USA,MI,Michigan,10077674
23,United States,USA,MN,Minnesota,5706804
24,United States,USA,MS,Mississippi,2961306
25,United States,USA,MO,Missouri,6154889
26,United States,USA,MT,Montana,1084244
27,United States,USA,NE,Nebraska,1961965
28,United States,USA,NV,Nevada,3104617
29,United States,USA,NH,New Hampshire,1377524
30,United States,USA,NJ,New Jersey,9289039
31,United States,USA,NM,New Mexico,2117525
32,United States,USA,NY,New York,20202320
33,United States,USA,NC,North Carolina,10439459
34,United States,USA,ND,North Dakota,779079
35,United States,USA,OH,Ohio,11799331
36,United States,USA,OK,Oklahoma,3959411
37,United States,USA,OR,Oregon,4237279
38,United States,USA,PA,Pennsylvania,13002788
39,United States,USA,RI,Rhode Island,1097371
40,United States,USA,SC,South Carolina,5118422
41,United States,USA,SD,South Dakota,886668
42,United States,USA,TN,Tennessee,6910786
43,United States,USA,TX,Texas,29145459
44,United States,USA,UT,Utah,3271614
45,United States,USA,VT,Vermont,643077
46,United States,USA,VA,Virginia,8631373
47,United States,USA,WA,Washington,7705267
48,United States,USA,WV,West Virginia,1793713
49,United States,USA,WI,Wisconsin,5893713
50,United States,USA,WY,Wyoming,576850

In [5]:
# Merge using the column “state”. 
df_api.columns = [col.lower() for col in df_api.columns.to_list()]
df = df.merge(df_api, left_on='state', right_on='state_abbreviation', how='left')

In [6]:
df.columns

Index(['id', 'trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat',
       'long', 'job', 'dob', 'trans_num', 'is_fraud', 'merch_zipcode', 'age',
       'country', 'country_code', 'state_abbreviation', 'state_name',
       'state_population'],
      dtype='object')

In [7]:
# Save the preprocessed data to a new CSV file.
df.to_csv('../data/credit_card_transactions_api_preprocessed.csv', index=False)

---

#### **Fourth Step**: Simplify the entire process into one or more functions and then run it in Airflow

In [8]:
import logging
import pandas as pd
import requests

logging.basicConfig(level=logging.INFO)

def api_connect():
    API_URL = "https://api-world-population-etl-project.onrender.com/api/v1/data/usa/states"
    response = requests.get(API_URL)
    
    if response is None or response.status_code != 200:
        logging.error(f'API connection failed. Status code: {response.status_code}')
        return None
    
    df_api = pd.DataFrame(response.json())
    
    return df_api

def merge_data(df, df_api):
    df_api.columns = [col.lower() for col in df_api.columns.to_list()]
    df = df.merge(df_api, left_on='state', right_on='state_abbreviation', how='left')
    return df

# Main function
def api_integration(df):
    try:
        df_api = api_connect()
        df = merge_data(df, df_api)
        df.to_csv('../data/credit_card_transactions_api_preprocessed.csv', index=False)
    except Exception as e:
        logging.error(f'API integration failed. Error: {str(e)}')